.KeybedEdit {
    font-size: 1em;
    text-align: center;
    padding: 0.6em 0 0 0;
}

.KeybedEdit .keybed {
    margin-bottom: 0.3em;
    font-size: 0.835em;
}

.KeybedEdit .transpose,.octave {
    display: inline-block;
}

.KeybedEdit .octave {
    display: inline-block;
    margin-left: 5%;
}