.knobEdit {
 	position: relative;
	width: 200px;
	height: 200px;
	background: #181818;
	color: #fff;
	font-size: 16px;
	overflow: hidden;
}

.knobEdit .lbl {
	position: absolute;
	top: 2%;
	left: 2%;
	font-size: 0.8em;
	text-transform: uppercase;
}

.knobEdit label {
	display: block;
    float: none;
    clear: both;
	padding: 4% 8%;
}

.knobEdit label input {
    float: right;
	width: 50%;
}

.knobEdit .brd {
	position: absolute;
	width: 72%;
	height: 72%;
	bottom: 5%;
	left: 8%;
	padding: 2% 2%;
}
