.mainmenu {
	float: none;
	clear: both;
	position: relative;
	height: 1.6em;
	font-size: 1.1em;
	border-top: 1px solid #a00;
	margin: 0 0 0.5em 0;
}

.mainmenu ul,
.mainmenu li {
	margin: 0;
	padding: 0;
}

.mainmenu ul {
	width: 100%;
	list-style: none;
	position: absolute;
	z-index: 100;
	background: linear-gradient(-46deg,#131313, #3d3d3d);
}

.mainmenu li {
	position: relative;
}

.mainmenu a {
	color: #fff;
	display: block;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	padding: 0.2em 1.5em;
	transition: all .25s ease;
}

.mainmenu li:hover {
	background: #000000;
}

.mainmenu ul > li {
	display: inline-block;
	vertical-align: top;
	width: auto;
}

.mainmenu ul > li > ul {
	text-align: left;
	width: auto;
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
}

.mainmenu ul > li > ul > li {
	display: block;
}

.mainmenu ul > li > ul > li > a {
	text-align: left;
}

.mainmenu ul > li:hover > ul {
	display: block;
}
