.padBank {
	float: none;
	clear: both;
	background: #181818;
	border-radius: 1em;
	font-size: 16px;
}

.padBank legend {
	font-size: 1.2em;
	text-transform: uppercase;
}

.padBank .pad,
.padBank .padEdit {
	float: left;
}

.padBankA {
	border-color: #f00;
}

.padBankA legend {
	color:  #f00;
}

.padBankB {
	border-color: #0f0;
}

.padBankB legend {
	color:  #0f0;
}
