.padEdit {
 	position: relative;
	width: 200px;
	height: 200px;
	background: #181818;
	color: #fff;
	font-size: 16px;
	overflow: hidden;
}

.padEdit label {
	display: block;
    float: none;
    clear: both;
	padding: 1% 8%;
}

.padEdit label input {
    float: right;
}