.App {
	font-size: 12px;
	width: 111.2em;
	padding: 0;
	margin: 0 auto;
}

.App header {
	text-align: left;
	min-height: 62px;
	background-color: #1A1C1E;
	background-image: url('./img/mpkmini_logo.png');
	background-repeat: no-repeat;
	background-position: top right;
}

.App header h1 {
	padding: 0px 10px;
	text-transform: uppercase;
}

.App > .col1 {
	float: left;
	width: 10.4em;
}

.App > .col2 {
	float: right;
	width: 50.4em;
}

.App > .col3 {
	float: left;
	width: 50.4em;
}