.pad {
	position: relative;
	width: 200px;
	height: 200px;
	background: #181818;
	color: #fff;
	font-size: 16px;
	overflow: hidden;
}

.pad .btn {
	position: absolute;
	width: 76%;
	height: 76%;
	bottom: 5%;
	left: 8%;
	border-style: solid;
	border-width: 0.5em;
	border-color: #ccc;
	border-radius: 5%;
	background: linear-gradient(-46deg,#131313, #3d3d3d);
	box-shadow: 0 0.2em 0.1em 0.05em rgba(255, 255, 255, 0.1) inset, 0 -0.2em 0.1em 0.05em rgba(0, 0, 0, 0.5) inset, 0 0.5em 0.65em 0 rgba(0, 0, 0, 0.3);
/*	transition: all 180ms ease-out; */
}

.pad .bactive {
	border-color: #f11;
/*	box-shadow: 0 0 0.3em 0.08em #ff1111; */
/*	transition: all 10ms ease-in; */
}

.pad .lbl {
	position: absolute;
	top: 2%;
	left: 2%;
	font-size: 0.8em;
	text-transform: uppercase;
}
